@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar__list {
    list-style-type: none; 
    padding: 0;            
}

body {
    background-color: #FFFFFF;
    font-family: 'Golos Text', sans-serif; 
    padding: 20px;
    letter-spacing: -0.15px;
}

.sidebar {
    margin-bottom: 40px;
}

.feed {
    width: 474px;
    margin: 0 auto;
}

.post {
    padding-bottom: 20px;
}

.post__user {
    display: inline-block;
    margin-bottom: 16px;
}

.post__avatar {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-right: 10px;
    vertical-align: middle;
}

.post__username {
    font-weight: 500;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
}

.post__edit-icon {
    vertical-align: middle; 
    margin-left: 312px;
}

.post__content {
    margin-bottom: 16px;
}

.post__likes {
    display: inline-block;
    background-color: rgba(34, 34, 34, 0.05);
    padding: 6px 12px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.post__likes img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 3px;
}

.post__likes span {
    font-size: 15px;
    font-weight: 400;
    color: #222222;
    margin: 0 auto;
}

.post__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    color: #222222;
    margin-bottom: 4px;
}

.post__more {
    color: #808080;
    cursor: pointer;
    font-weight: 400;
}

.post__date {
    font-size: 14px;
    color: rgba(34, 34, 34, 0.5);
    line-height: 18px;
    font-weight: 400;
}